.header {
    background-color: #ffffff;
    box-shadow: 0 1px 5px -2px hsl(0, 0%, 13%);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar {
    width: 85%;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
    user-select: none;
}
.logo h1 {
   font-size: 2rem;
   color: #2D336B;
}

.links {
    flex: 1;
    display: flex;
    justify-content: end;
    text-decoration: underline;
    text-decoration-color: #7886C7;
}

.links a {
    font-size: 1.125rem;
    color: #7886C7;
    transition: color 0.25s ease-in-out;
}
.links a:hover {
    color: #212faf;
    animation: pulse-glow 2s infinite alternate;
}

.links a:not(:last-child) {
    margin-right: 3rem;
}


@keyframes pulse-glow {
    0% {
        text-shadow: 0 0 5px rgba(248, 248, 248, 0.8),0 0 10px  #4057bd;
    }
    100% {
        text-shadow: 0 0 7px rgba(252, 252, 252, 0.8),0 0 15px  #2744c6;
    }
}
