.blog {
    padding-block: 5.0625rem;
    background: hsl(0, 0%, 98%);
}
.blog--wrapper {
    width: 80%;
}
.blog--head {
    text-align: center;
}
.blog--head h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
.author--info {
    display: flex;
    align-items: center;
    justify-content: start;
    background: hsl(220, 8%, 93%);
}
.author--info img {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.blog--image img {
    width: 100%;
    height: 31.5rem;
}
.blog--image figcaption{
    text-align: end;
}
.blog--text {
    line-height: 1.4;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.blog--text > p:first-child::first-letter {
    font-size: 3rem;
    padding-right: 0.3rem;
}
.blog--text h2{
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 2rem;
}
.blog--text h3 {
    font-size: 1.3rem;
    font-weight: 600;
}
.blog--text span {
    color: hsl(87, 96%, 50%);
    text-decoration: underline;
    cursor: pointer;
}
.blog--text q {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: italic;
}

.thanks {
    color: hsl(136, 65%, 51%);
    margin-block: 1rem;
}
.share {
    display: flex;
    align-items: center;
}
.share img {
    margin-left: 1rem;
    cursor: pointer;
}
.quote {
    padding: 1rem;
    font-size: 1.375rem;
    font-style: italic;
    border-left: 5px solid hsl(136, 65%, 51%);
    background: hsl(220, 16%, 96%);
}
.quote p::before{
    content: open-quote;
    font-size: 1.5rem;
}
.quote p::after{
    content: close-quote;
    font-size: 1.5rem;
}